<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<form method="POST" action="/update/{{employee.id}}">
    {% csrf_token %}
    <div>
        <br>
        <div>
            <label></label>
            <div>
                <h3>Update Details</h3>
            </div>
        </div>
        <div>
            <label>Employee Id:</label>
            <div>
                <input type="text" name="eid" id="id_eid" required maxlength="20" value="{{ employee.eid }}"/>
            </div>
        </div>
        <br>
        <div>
            <label>Employee Name:</label>
            <div>
                <input type="text" name="ename" id="id_ename" required maxlength="100" value="{{ employee.ename }}"/>
            </div>
        </div>
        <br>
        <div>
            <label>Employee Email:</label>
            <div>
                <input type="email" name="eemail" id="id_eemail" required maxlength="254"
                       value="{{ employee.eemail }}"/>
            </div>
        </div>
        <br>
        <div>
            <label>Employee Contact:</label>
            <div>
                <input type="text" name="econtact" id="id_econtact" required maxlength="15"
                       value="{{ employee.econtact }}"/>
            </div>
        </div>
        <br>
        <div>
            <label></label>
            <div>
                <button type="submit">Update</button>
            </div>
        </div>
    </div>
</form>
</body>
</html>