<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<form method="POST" action="/emp">

    <div>
        <br>
        <div>
            <label></label>
            <div>
                <h3>Enter Details</h3>
            </div>
        </div>
        <div>
            <label>Employee Id:</label>
            <div>
                {{ form.eid }}
            </div>
        </div>
        <br>
        <div>
            <label>Employee Name:</label>
            <div>
                {{ form.ename }}
            </div>
        </div>
        <br>
        <div>
            <label>Employee Email:</label>
            <div>
                {{ form.eemail }}
            </div>
        </div>
        <br>
        <div>
            <label>Employee Contact:</label>
            <div>
                {{ form.econtact }}
            </div>
        </div>
        <br>
        <div>
            <label></label>
            <div>
                <button type="submit">Submit</button>
            </div>
        </div>
    </div>
</form>
</body>
</html>